<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="in.bbat.reporter.poc.AbstractReportWindow"
            id="in.BBAT.reporter.view1"
            name="Report"
            restorable="true">
      </view>
   </extension>

</plugin>
