<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="in.BBAT.presenter.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="in.BBAT.presenter.perstpectives.DeveloperPerspective"
            icon="icons/developer.png"
            id="in.BBAT.presenter.perspective.developer"
            name="Developer">
      </perspective>
      <perspective
            class="in.BBAT.presenter.perstpectives.TesterPerspective"
            icon="icons/execute.gif"
            id="in.BBAT.presenter.perspective.tester"
            name="Tester">
      </perspective>
      <perspective
            class="in.BBAT.presenter.perstpectives.ReporterPerspective"
            icon="icons/reporter.png"
            id="in.BBAT.presenter.perspective.reporter"
            name="Reporter">
      </perspective>
      <perspective
            class="in.BBAT.presenter.perstpectives.HistoryPerspective"
            icon="icons/history.png"
            id="in.BBAT.presenter.perspective.history"
            name="History">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="in.BBAT.presenter.views.developer.TestCaseBrowserView"
            icon="icons/package.gif"
            id="in.BBAT.presenter.developer.testcaseBrowserView"
            name="TestCase Browser">
      </view>
      <view
            class="in.BBAT.presenter.views.developer.DeveloperDeviceView"
            icon="icons/Android_device.png"
            id="in.BBAT.presenter.developer.deviceView"
            name="Connected Devices"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="in.BBAT.presenter.views.developer.ScreenShotView"
            icon="icons/screenshot.png"
            id="in.BBAT.presenter.developer.screenShotView"
            name="UI Automator View"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.developer.UiTreeView"
            id="in.BBAT.presenter.developer.uitreeView"
            name="UITree"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.developer.NodesView"
            id="in.BBAT.presenter.developer.nodeDetailView"
            name="Nodes"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.TestRunnerView"
            icon="icons/execute.png"
            id="in.BBAT.presenter.tester.TestRunnerView"
            name="TestRunner"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.TestLogView"
            icon="icons/android.png"
            id="in.BBAT.presenter.tester.AndroidLogView"
            name="Android Logs"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.AutomatorLogView"
            icon="icons/logs.png"
            id="in.BBAT.presenter.tester.AutoLogView"
            name="UIAutomator Logs"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.history.TestRunHistoryView"
            icon="icons/run.png"
            id="in.BBAT.presenter.history.TestRunHistoryView"
            name="Test Runs"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.history.TestRunInfoView"
            icon="icons/Android_device.png"
            id="in.BBAT.presenter.history.TestRunInstanceView"
            name="Device Run"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.history.HistoryDeviceLogView"
            icon="icons/android.png"
            id="in.BBAT.presenter.history.DeviceLogView"
            name="Device Logs"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.history.HistoryAutoLogView"
            icon="icons/logs.png"
            id="in.BBAT.presenter.history.AutoLogView"
            name="UIAutomator Logs"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.DeviceLogView"
            icon="icons/android.png"
            id="in.BBAT.presenter.tester.deviceLogView"
            name="Device logs"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.ScreenShotView"
            icon="icons/screenshotview.png"
            id="in.BBAT.presenter.tester.screenShots"
            name="ScreenShots"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.history.ScreenShotHistoryView"
            icon="icons/screenshotview.png"
            id="in.BBAT.presenter.history.screenShotsView"
            name="ScreenShots"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.ExecutionView"
            icon="icons/execute.gif"
            id="in.BBAT.presenter.tester.TestExecutionView"
            name="Execution View"
            restorable="true">
      </view>
      <view
            class="in.BBAT.presenter.views.tester.MemoryCPUUsageView"
            icon="icons/mem_cpu_usage.png"
            id="in.BBAT.presenter.tester.MemoryCpuUsageView"
            name="Memory &amp; CPU usage"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.developer">
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.testcaseBrowserView"
               minimized="false"
               ratio="0.21f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.deviceView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.testcaseBrowserView">
         </view>
         <view
               id="in.BBAT.presenter.developer.screenShotView"
               minimized="false"
               ratio="0.50f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.tester">
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.testcaseBrowserView"
               minimized="false"
               ratio="0.21f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.tester.TestRunnerView"
               minimized="false"
               ratio="0.80F"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.tester.TestExecutionView"
               minimized="false"
               relationship="right"
               relative="in.BBAT.presenter.tester.TestRunnerView"
               visible="false">
         </view>
         <view
               closeable="true"
               id="in.BBAT.presenter.tester.AndroidLogView"
               minimized="false"
               relationship="stack"
               relative="in.BBAT.presenter.tester.TestRunnerView"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.tester.AutoLogView"
               minimized="false"
               ratio="0.50f"
               relationship="bottom"
               relative="in.BBAT.presenter.tester.TestExecutionView"
               visible="false">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.deviceView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.testcaseBrowserView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.history">
         <view
               closeable="false"
               id="in.BBAT.presenter.history.TestRunHistoryView"
               minimized="false"
               moveable="false"
               ratio="0.30f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.history.TestRunInstanceView"
               minimized="false"
               ratio="0.80f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.history.DeviceLogView"
               minimized="false"
               relationship="stack"
               relative="in.BBAT.presenter.history.TestRunInstanceView"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.history.AutoLogView"
               minimized="false"
               relationship="bottom"
               relative="in.BBAT.presenter.history.TestRunInstanceView"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.history.screenShotsView"
               minimized="true"
               ratio=".70f"
               relationship="right"
               relative="in.BBAT.presenter.history.AutoLogView"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.reporter">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="in.BBAT.presenter.Setting"
                  label="Configure"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.restart"
                  label="Restart"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="in.BBAT.presenter.Update"
                  label="Update"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.Feedback"
                  label="Feedback"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.ReportBug"
                  label="Report Bug"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.developer.testcaseBrowserView">
         <menu
               icon="icons/add.png"
               label="New">
            <command
                  commandId="in.BBAT.presenter.testCase.CreateTestCase"
                  icon="icons/testcase.gif"
                  label="Test Case"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.testCase.CreateSuite"
                  icon="icons/suite.gif"
                  label="Test Suite"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.testCase.CreateProject"
                  icon="icons/project.gif"
                  label="Test Project"
                  style="push">
            </command>
         </menu>
         <separator
               name="in.BBAT.presenter.separator1"
               visible="true">
         </separator>
         <command
               commandId="in.BBAT.presenter.testCase.edit"
               icon="icons/edit.png"
               label="Edit"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testCase.TestElementDetails"
               label="Details"
               style="push">
         </command>
         <separator
               name="in.BBAT.presenter.separator2"
               visible="true">
         </separator>
         <command
               commandId="in.BBAT.presenter.testCase.exportAsEclipseProject"
               icon="icons/export.gif"
               label="Export as eclipse project"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testCase.export"
               icon="icons/export.gif"
               label="Export"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testCase.import"
               icon="icons/import.gif"
               label="Import"
               style="push">
         </command>
         <separator
               name="in.BBAT.presenter.separator3"
               visible="true">
         </separator>
         <command
               commandId="in.BBAT.presenter.testCase.deleteElement"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:in.BBAT.presenter.developer.deviceView">
         <command
               commandId="in.BBAT.presenter.device.openScreenShot"
               icon="icons/screenshot.png"
               label="UiAutomator"
               style="push"
               tooltip="opens UI automator viewer">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:in.BBAT.presenter.tester.TestRunnerView">
         <command
               commandId="in.BBAT.presenter.testrunner.execute"
               icon="icons/execute.gif"
               label="Execute"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testrunner.stop"
               icon="icons/stop.gif"
               label="Stop"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testrunner.removeAll"
               icon="icons/rem_all.gif"
               label="Remove All"
               style="push"
               tooltip="Remove all test Cases">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.tester.TestRunnerView">
         <command
               commandId="in.BBAT.presenter.testrunner.remove"
               icon="icons/delete.gif"
               label="Remove"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.developer.deviceView">
         <command
               commandId="in.BBAT.presenter.device.openDeviceLogs"
               label="Open Log view"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.device.installApk"
               label="Install APK"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.device.details"
               label="Details"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.history.TestRunHistoryView">
         <command
               commandId="in.BBAT.presenter.history.deleteTestRun"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.history.TestRunInstanceView">
         <command
               commandId="in.BBAT.presenter.history.openAndroidLogs"
               icon="icons/android.png"
               label="Open Android Logs"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.history.openUIAutoLogs"
               label="Open UiAutomator Logs"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.history.openMemoryCpuUsage"
               icon="icons/mem_cpu_usage.png"
               label="Open Memory and Cpu Usage"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.history.openScreenShots"
               icon="icons/screenshotview.png"
               label="Show Screenshots"
               style="push">
         </command>
         <separator
               name="in.BBAT.presenter.separator1"
               visible="true">
         </separator>
         <command
               commandId="in.BBAT.presenter.history.exportLogs"
               icon="icons/export.gif"
               label="Export Logs"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:in.BBAT.presenter.history.TestRunInstanceView">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="in.BBAT.presenter.testCase.CreateTestCase"
            name="Create TestCase">
      </command>
      <command
            id="in.BBAT.presenter.testCase.CreateProject"
            name="Create Project">
      </command>
      <command
            id="in.BBAT.presenter.device.openScreenShot"
            name="Open Screen Shot">
      </command>
      <command
            id="in.BBAT.presenter.testCase.deleteElement"
            name="Delete Elements">
      </command>
      <command
            id="in.BBAT.presenter.testCase.edit"
            name="Edit Script">
      </command>
      <command
            id="in.BBAT.presenter.testCase.export"
            name="Export">
      </command>
      <command
            id="in.BBAT.presenter.testCase.CreateSuite"
            name="Create TestSuite">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.execute"
            name="Execute">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.stop"
            name="Stop">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.remove"
            name="Remove TestRuncase">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.removeAll"
            name="Remove All Testruncase">
      </command>
      <command
            id="in.BBAT.presenter.device.openDeviceLogs"
            name="Logcat view">
      </command>
      <command
            id="in.BBAT.presenter.history.deleteTestRun"
            name="Delete TestRun">
      </command>
      <command
            id="in.BBAT.presenter.Setting"
            name="Setting">
      </command>
      <command
            id="in.BBAT.presenter.history.exportLogs"
            name="Export Testcase Logs ">
      </command>
      <command
            id="in.BBAT.presenter.testCase.import"
            name="Import">
      </command>
      <command
            id="in.BBAT.presenter.device.installApk"
            name="Install APK">
      </command>
      <command
            id="in.BBAT.presenter.device.details"
            name="Device Details">
      </command>
      <command
            id="in.BBAT.presenter.testCase.TestElementDetails"
            name="Test Details">
      </command>
      <command
            id="in.BBAT.presenter.history.deviceRunReport"
            name="Device Run Report">
      </command>
      <command
            id="in.BBAT.presenter.device.connectWifi"
            name="Connect via WiFi">
      </command>
      <command
            id="in.BBAT.presenter.restart"
            name="Restart">
      </command>
      <command
            id="in.BBAT.presenter.history.openMemoryCpuUsage"
            name="Open Memory CPU usage">
      </command>
      <command
            id="in.BBAT.presenter.history.openAndroidLogs"
            name="Open Device Logs">
      </command>
      <command
            id="in.BBAT.presenter.history.openScreenShots"
            name="Open Screen Shots">
      </command>
      <command
            id="in.BBAT.presenter.history.openUIAutoLogs"
            name="Open UIAutomator Logs">
      </command>
      <command
            id="in.BBAT.presenter.Update"
            name="Update">
      </command>
      <command
            id="in.BBAT.presenter.Feedback"
            name="Feedback">
      </command>
      <command
            id="in.BBAT.presenter.ReportBug"
            name="Report Bug">
      </command>
      <command
            id="in.BBAT.presenter.testCase.exportAsEclipseProject"
            name="Export Eclipse Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.CreateTestCaseHandler"
            commandId="in.BBAT.presenter.testCase.CreateTestCase">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.CreateTestProjectHandler"
            commandId="in.BBAT.presenter.testCase.CreateProject">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.OpenScreenShotViewHandler"
            commandId="in.BBAT.presenter.device.openScreenShot">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.DeleteTestCaseHandler"
            commandId="in.BBAT.presenter.testCase.deleteElement">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.EditScriptHandler"
            commandId="in.BBAT.presenter.testCase.edit">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.ExportScriptsHandler"
            commandId="in.BBAT.presenter.testCase.export">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.CreateTestSuiteHandler"
            commandId="in.BBAT.presenter.testCase.CreateSuite">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.ExecuteTestRunHandler"
            commandId="in.BBAT.presenter.testrunner.execute">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.StopTestRunHandler"
            commandId="in.BBAT.presenter.testrunner.stop">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.RemoveTestRunCaseHandler"
            commandId="in.BBAT.presenter.testrunner.remove">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.RemoveAllTestRunCaseHandler"
            commandId="in.BBAT.presenter.testrunner.removeAll">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.OpenDeviceLogsHandler"
            commandId="in.BBAT.presenter.device.openDeviceLogs">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.DeleteTestRunHandler"
            commandId="in.BBAT.presenter.history.deleteTestRun">
      </handler>
      <handler
            class="in.BBAT.presenter.SettingsHandler"
            commandId="in.BBAT.presenter.Setting">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.ExportLogsHandler"
            commandId="in.BBAT.presenter.history.exportLogs">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.ImportScriptsHandler"
            commandId="in.BBAT.presenter.testCase.import">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.InstallApkHandler"
            commandId="in.BBAT.presenter.device.installApk">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.DeviceDetailsHandler"
            commandId="in.BBAT.presenter.device.details">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.TestDetailsHandler"
            commandId="in.BBAT.presenter.testCase.TestElementDetails">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.DeviceRunSummaryReportHandler"
            commandId="in.BBAT.presenter.history.deviceRunReport">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.ConnectDeficeViaWifiHandler"
            commandId="in.BBAT.presenter.device.connectWifi">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.RestartHandler"
            commandId="in.BBAT.presenter.restart">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.OpenAndroidLogshandler"
            commandId="in.BBAT.presenter.history.openAndroidLogs">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.OpenUIAutomatorLogsHandler"
            commandId="in.BBAT.presenter.history.openUIAutoLogs">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.OpenMemoryCPUUsageHandler"
            commandId="in.BBAT.presenter.history.openMemoryCpuUsage">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.OpenScreenShotsHandler"
            commandId="in.BBAT.presenter.history.openScreenShots">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.UpdateBBATP2Handler"
            commandId="in.BBAT.presenter.Update">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.FeedBackHandler"
            commandId="in.BBAT.presenter.Feedback">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.ReportBugHandler"
            commandId="in.BBAT.presenter.ReportBug">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.ExportEclipseProjectHandler"
            commandId="in.BBAT.presenter.testCase.exportAsEclipseProject">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         id="BBAT"
         point="org.eclipse.core.runtime.products">
      <product
            application="in.BBAT.presenter.application"
            name="UIautomator-bot">
         <property
               name="appName"
               value="UIautomator-bot">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/32by32.png">
         </property>
         <property
               name="aboutText"
               value="Tool for automating Uiautomator. &#x0A;Version : 1.1.0&#x0A;&#x0A;This product is developed by Syed Mehtab (c) Copyrights by author. All rights reserved.&#x0A;This product is distributed under AGPL.&#x0A;License can be found at  http://www.gnu.org/licenses/agpl.html &#x0A;Download : https://sourceforge.net/projects/uiautomator/  &#x0A;Blog     : http://uiaiutomator-bot.blogspot.in/">
         </property>
         <property
               name="windowImages"
               value="icons/16by16.png,icons/32by32.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="in.BBAT.presenter.hideActivity"
            name="Hide Activity">
      </activity>
      <activityPatternBinding
            activityId="in.BBAT.presenter.hideActivity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="in.BBAT.presenter.hideActivity"
            pattern="org.eclipse.jdt.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="in.BBAT.presenter.hideActivity"
            pattern="org.eclipse.debug.ui.*">
      </activityPatternBinding>
   </extension>

</plugin>
