<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="in.bbat.presenter.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Developer"
            class="in.bbat.presenter.perstpectives.DeveloperPerspective"
            id="in.BBAT.presenter.perspective.developer">
      </perspective>
      <perspective
            class="in.bbat.presenter.perstpectives.TesterPerspective"
            id="in.BBAT.presenter.perspective.tester"
            name="Tester">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="TestCase Browser"
            class="in.bbat.presenter.views.developer.TestCaseBrowserView"
            id="in.BBAT.presenter.developer.testcaseBrowserView">
      </view>
      <view
            class="in.bbat.presenter.views.developer.DeveloperDeviceView"
            id="in.BBAT.presenter.developer.deviceView"
            name="Device"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.developer.ScreenShotView"
            id="in.BBAT.presenter.developer.screenShotView"
            name="ScreenShot"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.developer.UiTreeView"
            id="in.BBAT.presenter.developer.uitreeView"
            name="UITree"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.developer.NodesView"
            id="in.BBAT.presenter.developer.nodeDetailView"
            name="Nodes"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.developer">
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.testcaseBrowserView"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.deviceView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.testcaseBrowserView">
         </view>
         <view
               id="in.BBAT.presenter.developer.screenShotView"
               minimized="false"
               ratio="0.70f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.developer.uitreeView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.screenShotView"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.developer.nodeDetailView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
