<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="in.bbat.presenter.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="in.bbat.presenter.perstpectives.DeveloperPerspective"
            icon="icons/developer.png"
            id="in.BBAT.presenter.perspective.developer"
            name="Developer">
      </perspective>
      <perspective
            class="in.bbat.presenter.perstpectives.TesterPerspective"
            icon="icons/execute.gif"
            id="in.BBAT.presenter.perspective.tester"
            name="Tester">
      </perspective>
      <perspective
            class="in.bbat.presenter.perstpectives.ReporterPerspective"
            icon="icons/reporter.png"
            id="in.BBAT.presenter.perspective.reporter"
            name="Reporter">
      </perspective>
      <perspective
            class="in.bbat.presenter.perstpectives.HistoryPerspective"
            icon="icons/history.png"
            id="in.BBAT.presenter.perspective.history"
            name="History">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="in.bbat.presenter.views.developer.TestCaseBrowserView"
            icon="icons/package.gif"
            id="in.BBAT.presenter.developer.testcaseBrowserView"
            name="TestCase Browser">
      </view>
      <view
            class="in.bbat.presenter.views.developer.DeveloperDeviceView"
            icon="icons/Android_device.png"
            id="in.BBAT.presenter.developer.deviceView"
            name="Test Device Browser"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="in.bbat.presenter.views.developer.ScreenShotView"
            id="in.BBAT.presenter.developer.screenShotView"
            name="UI Automator View"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.developer.UiTreeView"
            id="in.BBAT.presenter.developer.uitreeView"
            name="UITree"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.developer.NodesView"
            id="in.BBAT.presenter.developer.nodeDetailView"
            name="Nodes"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.tester.TestRunnerView"
            icon="icons/execute.png"
            id="in.BBAT.presenter.tester.TestRunnerView"
            name="TestRunner"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.tester.TestLogView"
            icon="icons/android.png"
            id="in.BBAT.presenter.tester.AndroidLogView"
            name="Android Logs"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.tester.AutomatorLogView"
            icon="icons/logs.png"
            id="in.BBAT.presenter.tester.AutoLogView"
            name="UIAutomator Logs"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.history.TestRunHistoryView"
            id="in.BBAT.presenter.history.TestRunHistoryView"
            name="Test Runs"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.history.TestRunInfoView"
            id="in.BBAT.presenter.history.TestRunInstanceView"
            name="Device Run"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.history.HistoryDeviceLogView"
            icon="icons/android.png"
            id="in.BBAT.presenter.history.DeviceLogView"
            name="Device Logs"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.history.HistoryAutoLogView"
            icon="icons/logs.png"
            id="in.BBAT.presenter.history.AutoLogView"
            name="UIAutomator Logs"
            restorable="true">
      </view>
      <view
            class="in.bbat.presenter.views.tester.DeviceLogView"
            icon="icons/android.png"
            id="in.BBAT.presenter.tester.deviceLogView"
            name="Device logs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.developer">
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.testcaseBrowserView"
               minimized="false"
               ratio="0.20f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.deviceView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.testcaseBrowserView">
         </view>
         <view
               id="in.BBAT.presenter.developer.screenShotView"
               minimized="false"
               ratio="0.50f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.developer.uitreeView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.screenShotView"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.developer.nodeDetailView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.tester">
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.testcaseBrowserView"
               minimized="false"
               ratio="0.20f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.tester.TestRunnerView"
               minimized="false"
               ratio="0.80F"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="in.BBAT.presenter.tester.AndroidLogView"
               minimized="false"
               ratio="0.50f"
               relationship="bottom"
               relative="in.BBAT.presenter.tester.TestRunnerView"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.tester.AutoLogView"
               minimized="false"
               ratio="0.50f"
               relationship="right"
               relative="in.BBAT.presenter.tester.AndroidLogView"
               visible="false">
         </view>
         <view
               closeable="false"
               id="in.BBAT.presenter.developer.deviceView"
               minimized="false"
               ratio="0.70f"
               relationship="bottom"
               relative="in.BBAT.presenter.developer.testcaseBrowserView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.history">
         <view
               closeable="false"
               id="in.BBAT.presenter.history.TestRunHistoryView"
               minimized="false"
               moveable="false"
               ratio="0.30f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.history.TestRunInstanceView"
               minimized="false"
               ratio="0.80f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="in.BBAT.presenter.history.DeviceLogView"
               minimized="false"
               relationship="stack"
               relative="in.BBAT.presenter.history.TestRunInstanceView"
               visible="false">
         </view>
         <view
               id="in.BBAT.presenter.history.AutoLogView"
               minimized="false"
               relationship="bottom"
               relative="in.BBAT.presenter.history.TestRunInstanceView"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="in.BBAT.presenter.perspective.reporter">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="in.BBAT.presenter.Setting"
                  label="Configure"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.developer.testcaseBrowserView">
         <menu
               label="New">
            <command
                  commandId="in.BBAT.presenter.testCase.CreateTestCase"
                  label="TestCase"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.testCase.CreateSuite"
                  label="TestSuite"
                  style="push">
            </command>
            <command
                  commandId="in.BBAT.presenter.testCase.CreateProject"
                  label="TestProject"
                  style="push">
            </command>
         </menu>
         <separator
               name="in.BBAT.presenter.separator1"
               visible="true">
         </separator>
         <command
               commandId="in.BBAT.presenter.testCase.edit"
               label="Edit"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testCase.export"
               label="Export"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testCase.deleteElement"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:in.BBAT.presenter.developer.deviceView">
         <command
               commandId="in.BBAT.presenter.device.openScreenShot"
               icon="icons/alt_window_16.gif"
               label="UiAutoamtor"
               style="push"
               tooltip="opens UI automator viewer">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:in.BBAT.presenter.tester.TestRunnerView">
         <command
               commandId="in.BBAT.presenter.testrunner.execute"
               icon="icons/execute.gif"
               label="Execute"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testrunner.stop"
               icon="icons/stop.gif"
               label="Stop"
               style="push">
         </command>
         <command
               commandId="in.BBAT.presenter.testrunner.removeAll"
               icon="icons/rem_all.gif"
               label="Remove All"
               style="push"
               tooltip="Remove all test Cases">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.tester.TestRunnerView">
         <command
               commandId="in.BBAT.presenter.testrunner.remove"
               icon="icons/delete.gif"
               label="Remove"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.developer.deviceView">
         <command
               commandId="in.BBAT.presenter.device.openDeviceLogs"
               label="Open Log view"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.history.TestRunHistoryView">
         <command
               commandId="in.BBAT.presenter.history.deleteTestRun"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:in.BBAT.presenter.history.TestRunInstanceView">
         <command
               commandId="in.BBAT.presenter.history.exportLogs"
               label="Export Logs"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="in.BBAT.presenter.testCase.CreateTestCase"
            name="Create TestCase">
      </command>
      <command
            id="in.BBAT.presenter.testCase.CreateProject"
            name="Create Project">
      </command>
      <command
            id="in.BBAT.presenter.device.openScreenShot"
            name="Open Screen Shot">
      </command>
      <command
            id="in.BBAT.presenter.testCase.deleteElement"
            name="Delete Elements">
      </command>
      <command
            id="in.BBAT.presenter.testCase.edit"
            name="Edit Script">
      </command>
      <command
            id="in.BBAT.presenter.testCase.export"
            name="Export">
      </command>
      <command
            id="in.BBAT.presenter.testCase.CreateSuite"
            name="Create TestSuite">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.execute"
            name="Execute">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.stop"
            name="Stop">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.remove"
            name="Remove TestRuncase">
      </command>
      <command
            id="in.BBAT.presenter.testrunner.removeAll"
            name="Remove All Testruncase">
      </command>
      <command
            id="in.BBAT.presenter.device.openDeviceLogs"
            name="Logcat view">
      </command>
      <command
            id="in.BBAT.presenter.history.deleteTestRun"
            name="Delete TestRun">
      </command>
      <command
            id="in.BBAT.presenter.Setting"
            name="Setting">
      </command>
      <command
            id="in.BBAT.presenter.history.exportLogs"
            name="Export Logs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.CreateTestCaseHandler"
            commandId="in.BBAT.presenter.testCase.CreateTestCase">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.CreateTestProjectHandler"
            commandId="in.BBAT.presenter.testCase.CreateProject">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.OpenScreenShotViewHandler"
            commandId="in.BBAT.presenter.device.openScreenShot">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.DeleteTestCaseHandler"
            commandId="in.BBAT.presenter.testCase.deleteElement">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.EditScriptHandler"
            commandId="in.BBAT.presenter.testCase.edit">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.ExportScriptsHandler"
            commandId="in.BBAT.presenter.testCase.export">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.testcaseBrowser.CreateTestSuiteHandler"
            commandId="in.BBAT.presenter.testCase.CreateSuite">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.ExecuteTestRunHandler"
            commandId="in.BBAT.presenter.testrunner.execute">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.StopTestRunHandler"
            commandId="in.BBAT.presenter.testrunner.stop">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.RemoveTestRunCaseHandler"
            commandId="in.BBAT.presenter.testrunner.remove">
      </handler>
      <handler
            class="in.BBAT.presenter.tester.handlers.RemoveAllTestRunCaseHandler"
            commandId="in.BBAT.presenter.testrunner.removeAll">
      </handler>
      <handler
            class="in.BBAT.presenter.developer.handlers.device.OpenDeviceLogsHandler"
            commandId="in.BBAT.presenter.device.openDeviceLogs">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.DeleteTestRunHandler"
            commandId="in.BBAT.presenter.history.deleteTestRun">
      </handler>
      <handler
            class="in.bbat.presenter.SettingsHandler"
            commandId="in.BBAT.presenter.Setting">
      </handler>
      <handler
            class="in.BBAT.presenter.history.handlers.ExportLogsHandler"
            commandId="in.BBAT.presenter.history.exportLogs">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         id="MACAC"
         point="org.eclipse.core.runtime.products">
      <product
            application="in.BBAT.presenter.application"
            name="BBAT">
         <property
               name="appName"
               value="BBAT">
         </property>
      </product>
   </extension>

</plugin>
